#slides_control > div{
  height: 300px;
}
img{
  margin:auto;
}
#slides_control {
  height: 300px;
  position: absolute;
  width: 100%;

}
.noPadding {
	padding: 0px
}
.homeCarousel {
  height: 300px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  min-width: 100%;
  height: 450px;
}
