
<div class="col-md-12">
<div class="row" style="padding-bottom: 20px">

  <div class="col-md-12"><h2 ng-show="!incart">Politicians</h2></div>

  <div class="col-md-4" ng-show="!incart">
  <input type="text" class="form-control" placeholder="Search by politician's first name" ng-model="firstNameSearch">
  </div>
  <div class="col-md-4" ng-show="!incart">
  <input type="text" class="form-control" placeholder="Search by politician's last name" ng-model="lastNameSearch">

  </div>
  <div class="col-md-4" ng-show="!incart">
  <input type="text" class="form-control" placeholder="Search by maximum price" ng-model="priceSearch">
  </div>
</div>



  <div class ="col-md-3" ng-repeat="product in products | filter: { firstName: firstNameSearch, lastName: lastNameSearch} | filter:below">
    <div class = "thumbnail">
      <img  src = "/images/{{product.picurl}}">
        <div class ="caption">
          <a ui-sref="product({id: product.id})"><h3>{{product.firstName + " " + product.lastName}}</h3></a>
          <p><strong>Price:</strong> {{"$" + product.price+ " "}}</p>
          <p><strong>Party:</strong> {{product.party}}</p>
          <p><strong>State:</strong> {{product.state}}</p>
          <div>
          <span><button ng-click="addToCart(product.id)" ng-show="!product.inCartState" type="button" class="btn btn-success btn-sm btn-spacer">add to cart</button>
      <button class="btn btn-sm btn-warning" ng-click="removeFromCart(product.id)" ng-show="product.inCartState">remove from cart</button></span>

      <span><button ng-show='isAdmin' type="button" class="btn btn-primary btn-sm btn-spacer">edit</button></span>
      <span><button ng-show='isAdmin' type="button" class="btn btn-sm btn-danger btn-spacer" ng-click='deleter(product.id)'>delete</button></span>
      </div>

        </div>
    </div>
  </div>


</div>
</div>
