.navbar {
  display: block;
  background: rgba(0, 60, 128, 0.82);
  margin-bottom: 0px;
  .container {
    width: 91%;
    max-width: 1340px;
  }

  img {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    width: 65px;
  }

  a {
    color: #ffffff;
    font-size: 16px;
    font-family: "Whitney SSm A", "Whitney SSm B", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    border: 1px rgba(0,60,128,0) solid;
    border-left: 1px rgba(213,222,233,0.44) solid;
    &.active {
       color: #f1f1f1;
    }
    &:hover {
      background-color: #ffffff;
      color: #838383;
      border-top: 4px solid #880000;
    }
    &:focus {
      background: none;
    }
  }

  .user {
    cursor: pointer;
    transition: color 0.2s;
    color: #ffffff !important;
    &.active {
      color: #ffffff;
    }
    &:hover {
      background: none;
      color: #ffffff;
    }
    &:focus {
      background: none;
    }
  }



  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 10px;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}
