
<div class = "col-md-12">
	<h2>{{product.firstName + " " + product.lastName}}</h2>
	<table class="table table-condensed">
		<thead>
			<tr>
			<th></th>
			<th>Price</th>
			<th>Party</th>
			<th>State</th>
			<th>Website</th>
			<th></th>
			<th></th>

			</tr>
		</thead>
	<tbody>

		<td><img src ="/images/{{product.picurl}}" class="resize"></td>
		<td>{{"$" + product.price+ " "}}</td>
		<td>{{product.party}}</td>
		<td>{{product.state}}</td>
		<td>{{product.website}}</td>
		<td><button ng-click="addToCart(product.id)" ng-show="!product.inCartState" type="button" class="btn btn-success btn-sm btn-spacer">add to cart</button>
      <button class="btn btn-warning" ng-click="removeFromCart(product.id)" ng-show="product.inCartState">remove from cart</button></td>


	</tr>
	</tbody>
	</table>
</div>
