<div class="col-md-6">
	<h2>{{product.firstName + " " + product.lastName}}</h2>
	<table class="table table-condensed">
	<thead>
		<tr>


		<th>Price</th>
		<th>Party</th>
		<th>State</th>
		<th>website</th>
		</tr>
	</thead>

	<tbody>


		<td>{{"$" + product.price+ " "}}</td>
		<td>{{product.party}}</td>
		<td>{{product.state}}</td>
		<td>{{product.website}}</td>
		<td><button ng-click="addToCart(product.id)">add to cart</button></td>
		<td><button>edit</button>

	</tr>
	</tbody>
	</table>
</div>
