<single-product product="product"></single-product>

<div class="col-md-12">
  <h3 style="display: inline">Reviews</h3>&nbsp;&nbsp;<span ng-show="ratingAvg">{{ ratingAvg }} out of 5 stars&nbsp;&nbsp;</span><span><button type="button" class="btn btn-sm btn-primary" ng-click="showReviewForm()">Add a customer review</button></span>
  <alert type="danger" ng-show="error">
    {{ error }}
  </alert>
  <alert type="success" ng-show="reviewSuccess">
    {{ reviewSuccess }}
  </alert>
  <div class="col-md-12" ng-show="showReview">
    <form id="review-form" novalidate name="reviewForm" ng-submit="reviewForm.$valid && sendReview(review)">
      <input type="hidden" name="review.reviewId" ng-model="review.reviewId">
      <div class="form-group">
        <!-- review rating goes here -->
      </div>
      <div class="form-group">
        <label for="email">Title</label>
        <input type="text" ng-model="review.title" name="title" class="form-control" id="title" placeholder="Enter title" required>
      </div>
      <div ng-messages="reviewForm.title.$error" ng-show="reviewForm.title.$invalid && reviewForm.title.$dirty" role="alert">
        <div ng-message="required" class="alert alert-danger">Please enter a title</div>
      </div>
      <div class="form-group">
        <label for="email">Rating</label>
        <span uib-rating ng-model="review.rating" max="max" name="rating" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating" required></span>
      </div>
      <div ng-messages="reviewForm.rating.$error" ng-show="reviewForm.rating.$invalid && reviewForm.rating.$dirty" role="alert">
        <div ng-message="required" class="alert alert-danger">Please enter a rating</div>
      </div>
      <div class="form-group">
          <label for="login-password">Review</label>
          <textarea ng-model="review.content" name="content" class="form-control" required></textarea>
      </div>
      <div ng-messages="reviewForm.content.$error" ng-show="reviewForm.content.$invalid && reviewForm.content.$dirty" role="alert">
        <div ng-message="required" class="alert alert-danger">Please enter a review</div>
      </div>
       <button type="submit" class="btn btn-default" ng-disabled="reviewForm.$invalid">Submit</button>
    </form>
  </div>

  <div class="col-md-12" ng-repeat="review in product.reviews">
    <div>Rating:&nbsp;{{review.rating}}&nbsp;Title:&nbsp;{{review.title}}</div>
    <!-- <div>User:&nbsp;{{review.id}}&nbsp;Title:&nbsp;{{review.title}}</div> -->
    <div>{{review.content}}</div>
    <hr>
  </div>
</div>
